.button
  padding: 15px 30px 17px 32px
  border: none
  border-radius: 30px
  font-size: 0.93rem
  &:hover
    cursor: pointer
  &--primary
    border: none
    background-color: $primary
    color: $light
    transition: box-shadow 0.3s
    &:hover
      cursor: pointer
      background-color: darken($primary, 15%)
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
    &:hover
      color: #bdbdbd
      border: 1px solid #bdbdbd
  &:active, &:focus 
    outline: none
  &::-moz-focus-inner 
    border: 0