@media screen and ( max-width: 1250px ) 
  .header
    &__logo
      margin-right: auto
    &__nav
      margin-right: 14px
  .contacts
    &__phone
      margin-right: 14px
@media screen and ( max-width: 992px ) 
  html
    font-size: 12px
  .header
    &__nav
      display: none
  .contacts
    &__phone
      margin-right: 14px
@media screen and ( max-width: 768px ) 
  .header
    &__logo
      margin-right: auto
    &__nav
      margin-right: 14px
  .contacts
    &__phone
      margin-right: 14px
@media screen and ( max-width: 540px )       
  .header
    &__menu
      position: absolute
      right: 0
      top: 0
      width: auto
      color: $light
      background-color: #4e000a
      display: flex
      flex-direction: column
      padding: 20px 60px
      border-radius: 0 0 0 50px
      display: none
      &--active
        display: block
    &__logo
      margin: auto
    &__nav
      width: auto
      display: flex
      flex-direction: column
      margin: auto
    &__contacts
      display: flex
      flex-direction: column
      margin: auto
      margin-top: 5px
    &__burger
      width: 42px
      height: 42px
      background-color: $primary
      border-radius: 50%
  .logo
    &__link
      color: $light
      &:hover
        cursor: pointer
        color: lighten($black, 40%)
  .nav
    &__item
      color: $light
      margin-top: 15px
      &::after
        position: absolute
        content: ''
        display: block
        height: 2px
        margin-top: 6px
        margin-left: 17%
        background-color: $primary
        transition: 0.2s
        width: 0%
      &:hover
        cursor: pointer
        color: darken($light, 20%)
        font-weight: 400
        &::after
          width: 67%
  .contacts
    &__phone
      color: $light
      margin: auto
      margin-bottom: 5px
      &:hover
        cursor: pointer
        color: lighten($black, 70%)
  .burger
    position: fixed
    right: 15px
    top: 15px
    &__menu-button
      display: block
      position: absolute
      left: 6px
      top: 47%
      width: 30px
      height: 3px
      background: $light
      border: none
      cursor: pointer
      z-index: 15
      border-radius: 3px
      &::before
        content: ''
        display: block
        position: absolute
        top: 0
        width: 30px
        height: 3px
        background: $light
        transition: transform 0.2s
        margin-top: -7px
        border-radius: 3px
      &::after
        content: ''
        display: block
        position: absolute
        top: 0
        width: 30px
        height: 3px
        background: $light
        transition: transform 0.2s
        margin-top: 7px
        border-radius: 3px
      &--active
        height: 0
        &::before
          transform: rotate(45deg)
          margin-top: 0
        &::after
          transform: rotate(-45deg)
          margin-top: 0