* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 44px;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left 11px center;
}
.header {
  margin-bottom: 40px;
}
.header__input {
  flex: 0.8;
  margin-right: 0;
  background-image: url(../img/home.svg);
}
.header__buttons {
  display: flex;
  flex-direction: row;
}
.button {
  background: #fff;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  padding: 8px 16px;
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.header__sing {
  display: flex;
  align-items: center;
  background: #1890FF;
  color: #fff;
  border: 1px solid #1890FF;
  margin: 0 10px;
}
.header__basket {
  display: flex;
  align-items: center;
}
.button__icon {
  margin-right: 6px;
}
.main {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.promo {
  margin-bottom: 58px;
}
.promo__container {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url('../img/promo-image.png') no-repeat top -150px right -300px / 900px;
  border-radius: 10px;
  padding: 68px 70px;
}
.promo__title {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
  margin: 0;
  margin-bottom: 15px;
}
.promo__text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #302C34;
  max-width: 540px;
  margin: 0;
}
.restaurants__container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.restaurants__heading {
  width: 100%;
  display: flex;
  align-items: center;
}
.restaurants__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0;
  margin-right: 30px;
}
.restaurants__input {
  margin-left: auto;
  width: 306px;
  background-image: url(../img/search.svg);
}
.restaurants__cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-bottom: 90px;
}
.restaurants__card {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-top: 30px;
  text-decoration: none;
}
.card__image {
  width: 384px;
  object-fit: cover;
}
.card__text {
  padding: 20px 23px 35px 24px;
  display: flex;
  flex-direction: column;
}
.card__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0;
}
.card__title--reg {
  font-weight: 400;
}
.card__tag {
  background: #262626;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border-radius: 2px;
  padding: 1px 8px;
}
.card__info {
  display: flex;
  align-items: center;
}
.card__rating {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #FFC107;
  margin-right: 26px;
}
.card__price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
  margin-right: 10px;
}
.card__price::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #8C8C8C;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
}
.card__category {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}
.card__ingredients {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #8C8C8C;
  max-width: 330px;
  margin-top: 10px;
  margin-bottom: 24px;
}
.card__buttons {
  display: flex;
  align-items: center;
}
.card__button {
  display: flex;
  align-items: center;
  background: #1890FF;
  color: #fff;
  border: 1px solid #1890FF;
}
.card__price--bold {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  display: inline-block;
  margin-left: 32px;
}
.button__title {
  margin-right: 10px;
}
.footer__container {
  display: flex;
  align-items: center;
  padding: 60px 0;
}
.footer__content {
  display: flex;
  align-items: center;
}
.footer__nav {
  margin-left: 20px;
}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #595959;
  text-decoration: none;
  margin-left: 15px;
}
.footer__link:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.footer__links {
  display: flex;
  align-items: center;
}
.social__link {
  margin-left: 21px;
  transition: 0.3s;
}
.social__link:hover {
  opacity: 0.6;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal--active {
  display: flex;
}
.modal__dialog {
  max-width: 780px;
  width: 95%;
  background: #FFFFFF;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px;
}
.modal__body {
  margin-bottom: 52px;
}
.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0;
}
.modal__close {
  font-size: 36px;
  border: none;
  background-color: transparent;
}
.modal__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;
}
.modal__food-price {
  margin-left: auto;
  margin-right: 47px;
}
.modal__food-name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}
.modal__food-price {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.modal__foods-counter {
  display: flex;
  align-items: center;
}
.modal__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #40A9FF;
  box-sizing: border-box;
  border-radius: 2px;
  color: #40A9FF;
  width: 41px;
  height: 32px;
}
.modal__food-counter {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-left: 10px;
  margin-right: 10px;
}
.modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal__price-tag {
  background: #262626;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 15px 20px;
}
.modal__footer-buttons {
  display: flex;
  align-items: center;
}
.modal__full-price {
  background: #1890FF;
  color: #fff;
  border: 1px solid #1890FF;
  margin-right: 18px;
}
@media (max-width: 1250px) {
  .container {
    width: 95%;
    margin: auto;
  }
  .promo__container {
    padding-left: 40px;
    background-size: 600px;
    background-position: top -50px right -220px;
  }
  .restaurants__cards {
    justify-content: space-around
  }
  .restaurants__card:nth-child(odd) {
    margin-right: 20px;
  }
}
@media (max-width: 900px) {
  .promo__container {
    padding: 30px;
    background-position: top -75px right -220px;
  }
  .promo__title {
    font-size: 30px;
  }
  .promo__text {
    max-width: 330px;
    font-size: 20px;
  }
  .restaurants__title {
    font-size: 30px;
  }
}
@media (max-width: 830px) {
  .restaurants__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
  }
  .restaurants__card:nth-child(odd) {
    margin-right: 0;
  }
}
@media (max-width: 760px) {
  .footer__nav {
    margin-left: 10px;
  }
  .footer__link {
    font-size: 14px;
    margin-left: 5px;
  }
  .social__link {
    margin-left: 10px;
  }
}
@media (max-width: 660px) {
  .header__container {
    flex-wrap: wrap;
  }
  .promo__container {
    background: #FFF1B8;
  }
}
@media (max-width: 594px) {
  body {
    padding-top: 20px;
  }
  .header {
    margin-bottom: 20px;
  }
  .header__input {
    margin-top: 15px;
    order: 5;
    flex: 1;
  }
  .restaurants__title {
    font-size: 18px;
  }
  .footer__container {
    flex-direction: column;
    padding: 20px 0;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__nav {
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__links {
    margin-top: 10px;
  }
  .footer__link {
    margin-top: 5px;
    margin-left: 0;
  }
  .social__link:nth-child(1) {
    margin-left: 0;
  }
}
@media (max-width: 430px) {
  .promo {
    margin-bottom: 0;
  }
  .promo__container {
    padding: 20px;
  }
  .promo__title {
    font-size: 25px;
  }
  .promo__text {
    max-width: 260px;
    font-size: 17px;
  }
  .restaurants__heading {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .restaurants__title {
    margin-right: 0;
  }
  .restaurant__info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .restaurants__input {
    width: 100%;
  }
  .card__image {
    width: 100%;
  }
  .card__info {
    flex-wrap: wrap;
  }
  .card__rating {
    width: 100%;
  }
  .restaurant__rating {
    width: auto;
  }
}
@media (max-width: 360px) {
  .button {
    padding: 4px 8px;
  }
  .header__sing {
    margin: 0 5px;
  }
}